html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Alef', 'Arial', sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

header{
  padding: 10px;
  border: 2px solid black;
  position: fixed;
  z-index: 10000;
  background: #fff;
  top: 10px;
  right: 10px;
}

#toolbar{
  padding: 5px;
  border: 2px solid black;
  position: fixed;
  z-index: 10000;
  background: #fff;
  top: 140px;
  right: 10px;
  width: 66px;
}


.toolbarBtn{
  display: block;
  border-radius: 5px;
  cursor: pointer;
}

.toolbarBtn.selected{
  border: 2px solid blue;
}

.toolbarBtn:hover{
  border: 2px solid green;
}

.toolbarPane{
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
}
.toolbarPane.lines{
  margin: 20px 0;
}

/* input[type=color]{
  width: 30px;
  height: 30px;
}

input[type=range][orient=vertical]
{
    -webkit-appearance: slider-vertical;
    width: 6px;
    height: 100px;
    padding: 12px;
}
.vrange{
  margin-top: 50px;
   transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  position: relative;
  left: 37px;
  top: 0px;
  width: 100px;
}

.closeBtn{
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url(x.png);
  background-size: 30px 30px;
  margin: 95px 0px 0 0px;
} */


h1{
  font-size: 48px;
}

h3{
  font-size: 21px;
}

img {
  max-width: 100%;
  height: auto;
  display:block;
}

body{
  background:#FFF;
}


.main{
    position:relative;
    margin: 150px auto;
    margin-bottom: 75px;

    width: 1920px;
    height:1080px;
}

.overlay{
  position: absolute;
  width:100%;
  height:100%;
  /* background: rgba(0, 255, 0, 0.4); */
  z-index: 100;
}


.cellBtn{

}

.free{
  background: rgba(0,255,0, 0.0);
  cursor: pointer;
}
.free:hover{
  background: rgba(0, 255,0, 0.5);
}

.busy{
  background: transparent;
}
.busy:hover{
  background:  rgba(255, 0,0, 0.5);
}

.activeCell{
  background: transparent;
  cursor: crosshair;
  border: 4px solid Blue;
}
.activeCell:hover{
  background: transparent;
}

.cellspace{
  background: transparent;
}

.buttonGrid{
  position: absolute;
  width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
}
#p5Contianer{
  position: absolute;
}



.youtubeContainer{
  pointer-events:none;
  z-index: 0;
}
